/******************************/

.navbar {
    height: 50px;
}


.li-sign-in {
    width: 15em;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.li-sign-in a {
    border-top: 3px solid transparent;
    border-bottom: 4px solid transparent;
}

.li-sign-in a:hover {
    border-bottom: 4px solid red;
}

.icon-position {
    position: absolute;
    top: 14px;
}

#sign-position {
    position: relative;
    left: 35px;
}

.li-wrapper {
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 5.8em;
    
    
}

.li-wrapper a {
    border-top: 3px solid transparent;
    border-bottom: 4px solid transparent;
    
}

.li-wrapper a span {
    padding-left: 10%;
}

.li-wrapper a:hover {
    border-bottom: 4px solid red;
}

.li-color-1 a:hover {
    border-bottom: 4px solid blueviolet;
}

/***************************/

.latest-bg {
    background-color: #E7E8E1;
}

.latest-news {
    padding-top: 5em;
    padding-bottom: 5em;
}

.latest-news-padding {
    padding-top: 1em;
}

/***************************/

.custom-container {
    position: relative;
}

.text-overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.barra-news {
    float: left;
    padding-right: 0.3em;
    padding-top: 0.3em;
}