.news-text {
    text-align: justify;
    text-justify: inter-word;
}

.container-news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-gap: 25px;
}

.fecha {
    padding-left: 15px;
}

/**** INLINE PLUGIN ******/

.cke_button_label.cke_button__inlinesave_label {
    display: inline;
}

