textarea {
    text-align: justify;
    text-justify: inter-word;
}

.container-news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
    grid-gap: 25px;
}
header h4 {
    width: 65%;
}

#titulo {
    padding-top: 3%;
}

header > div > span {
    color: brown;
    font-weight: 600;
    padding-right: 2%;
}
.icon-color {
    color: brown;
}

.news-text {
    text-align: justify;
    padding-top: 5%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    
}
